@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 2, 5;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* تأثير التوهج المخصص للحدود */
.animate-border-glow {
  animation: glow 3s infinite alternate;
}

@keyframes glow {
  0% { box-shadow: 0 0 10px rgba(26, 115, 232, 0.2); }
  100% { box-shadow: 0 0 30px rgba(232, 26, 26, 0.4); }
}
